@tailwind base;
@tailwind components;
@tailwind utilities;

@import "menuHamburguer.css";

:root {
}

html,
body,
#__next {
  height: 100%;
}

.chart-container {
  width: 300px; /* Ajuste a largura conforme necessário */
  height: 300px; /* Ajuste a altura conforme necessário */
}
